# Ignore deployment package
rag-sdk.zip

# Ignore test file
ignore_this.txt
run.txt

*.zip

tbd_chatbot.txt

dist/
build/

venv/
env/
.env
*.env
ENV/
.venv/
*.zip

venv/
env/
.venv/
ENV/
.env

__pycache__/
*.pyc
*.pyo
*.pyd

*.zip

ignore_this.txt
run.txt
tbd_chatbot.txt
tbd_rag.txt
